html{
	font-size: 62.5%;
	margin: auto;
}

.titre{
	margin-top: 50px;
	margin-left: 40px;
}

#formConnexion{
	margin-top: 10%;
	text-align: center;
	font-size: 1.4em;
}

/* Début page incsription */
#inscriptionTitre{
	margin-top: 5%;
	text-align: center;
	font-weight: bold;
	text-shadow: 3px 3px gray;
}

#formInscription{
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
	text-align: center;
	font-size: 1.4em;
	border: 2px solid #404040;
	padding: 20px;
	border-radius: 20px;
}

#formInscription label{
	width: 150px;
	text-align: right;
	margin-bottom: 20px;
	margin-right: 5px;
}

.boutons {
    font-size: 1.9rem;
    /* width: 90px; */
    border-radius: 5px;
    background-image: linear-gradient(#aaaaaa, #404040);
    color: white;
    height: 40px;
    margin-top: 30px;
}

.boutons[type="button"] {
    margin-right: 5px;
}

.boutons[type="button"]:hover {
    color: #ff8c8c;
    /* font-weight: bold; */
}

.boutons[type="submit"] {
    margin-left: 5px;
}

.boutons[type="submit"]:hover {
    color: #97d77b;
    /* font-weight: bold; */
}

p.messageErreur{
	text-align: center;
	font-size: 1.5em;
	color: red;
}
/* Fin page inscription */


/*Page accueil */
/*Fanny*/ 

#filtre{
	font-size: large; 
	margin-left: 40px; 	
}

#user{
	display: inline;
	margin-left:75%;
	font-size: large; 
	width:200px;
	margin-top: 0px; 
}

#recherche{
	margin-left:40px; 
	width: 20%;
	border-radius:30px;
}

#filtreCat{
	margin-top: 25px; 
	margin-left:40px;
 } 
 
 #Categorie{
 	margin-left:25px;
 	width: 15%;
 }
 
 #btnRecherche{
 	margin-left: 15%;
 	width: 15%;
 	height: 50px;
 }
 fieldset {
	
	display:inline;
	 margin-bottom:10px;
	 margin-left:50px;
	 margin-top: 50px;;
 	border:1px solid #000000;
 }
#image{
	margin-left :10px;
	margin-top:20px;
	margin-bottom: 20px;
}
.text{
	float:right;
	padding-left: 10px;	
	padding-top:10%;
	
}
p{
		margin-top: 10px;
	margin-left: 10px;
}
#choix{
	display: -webkit-box;
	margin-left:50px;
	margin-top : 10px;
}
/*fin acceuil*/

/* Début Page Profil */
#txtProfil{
	border: none;
	width: 300px;
	
}
#txtProfil.pseudo{
	font-weight: bold;
}

#profilRetour{
	text-align: center;
	margin-top: 4%;
}
/* Fin Page Profil */




