<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ENI-Encheres</display-name>
  <welcome-file-list>
    <welcome-file>Accueil</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>ServletAccueil</servlet-name>
    <servlet-class>org.eniencheres.servlets.ServletAccueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAccueil</servlet-name>
    <url-pattern>/Accueil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletConnection</servlet-name>
    <servlet-class>org.eniencheres.servlets.ServletConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletConnection</servlet-name>
    <url-pattern>/connection</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletInscriprion</servlet-name>
    <servlet-class>org.eniencheres.servlets.ServletInscription</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInscriprion</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletProfil</servlet-name>
    <servlet-class>org.eniencheres.servlets.ServletProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletProfil</servlet-name>
    <url-pattern>/profil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletNouvelleVente</servlet-name>
    <servlet-class>org.eniencheres.servlets.ServletNouvelleVente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNouvelleVente</servlet-name>
    <url-pattern>/nouvelleVente</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletDeconnexion</servlet-name>
    <servlet-class>org.eniencheres.servlets.ServletDeconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDeconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletMonProfil</servlet-name>
    <servlet-class>org.eniencheres.servlets.ServletMonProfil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMonProfil</servlet-name>
    <url-pattern>/monProfil</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ServletSupprimerCompte</servlet-name>
    <servlet-class>org.eniencheres.servlets.ServletSupprimerMonCompte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletSupprimerCompte</servlet-name>
    <url-pattern>/supprimerCompte</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ServletDetailsVente</servlet-name>
    <servlet-class>org.eniencheres.servlets.ServletDetailsVente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletDetailsVente</servlet-name>
    <url-pattern>/detailsVente</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>ServletModificationVente</servlet-name>
    <servlet-class>org.eniencheres.servlets.ServletModificationVente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificationVente</servlet-name>
    <url-pattern>/modification</url-pattern>
  </servlet-mapping>
</web-app>